*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-color,
.bg-color-nav {
    background-color: #f57224;
}

.seach-button {
    border-color: aliceblue;
}

.nav-font-color>li>a {
    color: black !important;
}

.text-font-size {
    font-size: 9px;
} 

.footer-heading-size {
    font-size: 14px;
} 

.footer-heading-small-size {
    font-size: 12px;
} 

